@import "tailwindcss";

@layer utilities {
  .input-field {
    @apply w-full pl-10 pr-4 py-3 border-2 border-black rounded-xl 
    focus:outline-none focus:bg-yellow-50 focus:shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] 
    transition-all duration-200 placeholder-gray-400 font-medium;
  }

  .shadow-medium {
    box-shadow: 2px 2px 0px 0px black;
  }

  .shadow-hard {
    box-shadow: 4px 4px 0px 0px black;
  }
}